[Unit]
Description=Create missing system files
DefaultDependencies=no
Wants=sysroot.mount sysroot-usr.mount
After=sysroot.mount sysroot-usr.mount
Before=sysinit.target systemd-sysusers.service
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/flatcar-tmpfiles
